@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body
{
    min-height: 100vh;
    background:#222;
}

header{
    position: fixed;
    padding: 30px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header .logo {

    color: #fff;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
}

header ul {
    display: flex;
    gap: 40px;
}

header ul li {
  
    list-style: none;

}

header ul li a {
  
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   color: #b9b9b9;
   text-transform: uppercase;
   letter-spacing: 0.2em;
   transition: 0.5s;
    
}

header ul li a:hover,
header ul li a.active
{ 
    color: #fff;
}

section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    gap: 100px;
}

section .content
{
    max-width: 700px;
}

section .content h2
{
    font-size: 4.4em;
    color: #fff;
    font-weight: 700;
}

section .content h2 b
{
    /* font-size: 3.5em; */
    color: #0f0;
    font-weight: 800;
}

section .content p 
{
    color: #999;
    font-size: 1.1em;
    font-weight: 500;
}

section .content .btn
{
    padding: 20px 15px;
    font-size: 18px;
    /* font-weight: 700; */
    border-radius: 6px;
    background: #fff;
    color: #222;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-weight: 700;
    display: inline-block;
    margin-top: 25px;
    letter-spacing: 0.2em;
}

section .container 
{
    position: relative;
    right: 100px;
    min-width: 400px;
    width: 400px;
    /* height: 400px; */
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section .container .element
{
    position: relative;
    width: 40px;
    height: 40px;
    background:rgb(188, 255, 188) ;
   /* margin: 10px; */
    scale: 0.75;
}